.version.freelance_work /* version checker */
{
	color: #00000C;
	background-color: #97C5FF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu975
{
	width: 0.01px;
	padding-bottom: 1424px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u975
{
	z-index: 2;
	height: 1358px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u975-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 66px;
}

#u3438
{
	z-index: 63;
	height: 63px;
}

#u3438-bw
{
	z-index: 63;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u923
{
	z-index: 64;
	height: 63px;
}

#u923-bw
{
	z-index: 64;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u924
{
	z-index: 65;
	height: 4px;
}

#u924-bw
{
	z-index: 65;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 62px;
}

#u3816
{
	z-index: 78;
	width: 23px;
	position: fixed;
	top: 31px;
	left: 46px;
}

#u3816:hover
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3816:active
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3820
{
	z-index: 80;
	width: 23px;
	position: fixed;
	top: 31px;
	left: 72px;
}

#u3816.MuseLinkActive,#u3820:hover
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3818
{
	z-index: 82;
	width: 23px;
	position: fixed;
	top: 31px;
	left: 20px;
}

#u3820.MuseLinkActive,#u3818:hover
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3818.MuseLinkActive
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#ppu3747-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 238px;
	margin-left: -11px;
}

#pu3747-4
{
	width: 0.01px;
	margin-left: 31px;
}

#u3747-4
{
	z-index: 3;
	width: 119px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u3761
{
	z-index: 7;
	width: 87px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u3761
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3761:hover
{
	width: 87px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u3761:hover
{
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
}

#u3009-4
{
	z-index: 55;
	width: 274px;
	min-height: 50px;
	background-color: transparent;
	color: #727272;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 119px;
}

#u3010-4
{
	z-index: 59;
	width: 461px;
	min-height: 111px;
	background-color: transparent;
	color: #727272;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 31px;
	margin-top: 17px;
	position: relative;
}

#slideshowu2968
{
	z-index: 8;
	width: 0.01px;
	height: 708px;
	margin-top: 118px;
	position: relative;
}

#u2976
{
	position: absolute;
	width: 780px;
	height: 558px;
	background-color: transparent;
	left: 101px;
}

#u2976popup
{
	z-index: 9;
}

#u3217
{
	z-index: 10;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3217_img
{
	margin: 22px -5px 21px -4px;
}

#u3353
{
	z-index: 12;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3353_img
{
	padding-left: 82px;
	padding-right: 81px;
}

#u3237
{
	z-index: 14;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3237_img
{
	margin: 22px -7px 21px;
}

#u3297
{
	z-index: 16;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3297_img
{
	margin: 22px -22px 21px;
}

#u3197
{
	z-index: 18;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3177
{
	z-index: 20;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3197_img,#u3177_img
{
	padding-left: 183px;
	padding-right: 182px;
}

#u3257
{
	z-index: 22;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3277
{
	z-index: 24;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3257_img,#u3277_img
{
	padding: 143px 182px;
}

#u3457
{
	z-index: 26;
	width: 780px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u3457_img
{
	padding: 60px 80px;
}

#u2990
{
	position: absolute;
	width: 682px;
	background-color: transparent;
	padding-bottom: 91px;
	top: 568px;
}

#u2990popup
{
	z-index: 28;
}

#u3223
{
	z-index: 29;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 31px;
}

#u3359
{
	z-index: 31;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 101px;
}

#u3243
{
	z-index: 33;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 171px;
}

#u3243_img
{
	margin-left: -5px;
	margin-right: -4px;
}

#u3303
{
	z-index: 35;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 241px;
}

#u3303_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u3203
{
	z-index: 37;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 311px;
}

#u3183
{
	z-index: 39;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 381px;
}

#u3263
{
	z-index: 41;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 451px;
}

#u3283
{
	z-index: 43;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 521px;
}

#u3223_img,#u3263_img,#u3283_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u3463
{
	z-index: 45;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 591px;
}

#u3223.SSSlideLinkSelected,#u3359.SSSlideLinkSelected,#u3243.SSSlideLinkSelected,#u3303.SSSlideLinkSelected,#u3203.SSSlideLinkSelected,#u3183.SSSlideLinkSelected,#u3263.SSSlideLinkSelected,#u3283.SSSlideLinkSelected,#u3463.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u3463_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u3005-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: 256px;
	left: 66px;
}

#u3005-4popup
{
	z-index: 47;
}

#u3003-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: 257px;
	left: 885px;
}

#u3003-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u618-4
{
	z-index: 66;
	width: 100px;
	min-height: 36px;
	position: fixed;
	top: 30px;
	left: 648px;
}

#u618-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u618-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u619-4
{
	z-index: 70;
	width: 100px;
	min-height: 36px;
	position: fixed;
	top: 30px;
	left: 748px;
}

#u618-4.MuseLinkActive,#u619-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u620-4
{
	z-index: 74;
	width: 100px;
	min-height: 36px;
	position: fixed;
	top: 30px;
	left: 848px;
}

#u619-4.MuseLinkActive,#u620-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u620-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}


