
#u3747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u618-4
{
	font-family: muli-n3, sans-serif;
}

#u619-4
{
	font-family: muli-n3, sans-serif;
}

#u620-4
{
	font-family: muli-n3, sans-serif;
}


#u1411-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1412-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1407-4,#u1376-4
{
	font-family: open-sans-n8, sans-serif;
}

