
#u3747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u618-4
{
	font-family: muli-n3, sans-serif;
}

#u619-4
{
	font-family: muli-n3, sans-serif;
}

#u620-4
{
	font-family: muli-n3, sans-serif;
}


#u3009-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3010-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3005-4,#u3003-4
{
	font-family: open-sans-n8, sans-serif;
}

