
#u3747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u618-4
{
	font-family: muli-n3, sans-serif;
}

#u619-4
{
	font-family: muli-n3, sans-serif;
}

#u620-4
{
	font-family: muli-n3, sans-serif;
}


#u1353-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1372-13
{
	font-family: open-sans-n3, sans-serif;
}

#u1144-4,#u1142-4
{
	font-family: open-sans-n8, sans-serif;
}

