
#u3747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u618-4
{
	font-family: muli-n3, sans-serif;
}

#u619-4
{
	font-family: muli-n3, sans-serif;
}

#u620-4
{
	font-family: muli-n3, sans-serif;
}


#u1724-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1725-4,#u3729-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3730-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3731-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1720-4,#u1689-4
{
	font-family: open-sans-n8, sans-serif;
}

