
#u3747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u618-4
{
	font-family: muli-n3, sans-serif;
}

#u619-4
{
	font-family: muli-n3, sans-serif;
}

#u620-4
{
	font-family: muli-n3, sans-serif;
}


#u2370-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2371-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2368-4,#u2330-4
{
	font-family: open-sans-n8, sans-serif;
}

