.version.workshops /* version checker */
{
	color: #0000F7;
	background-color: #AC66C5;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu975
{
	width: 0.01px;
	padding-bottom: 1424px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u975
{
	z-index: 2;
	height: 1358px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u975-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 66px;
}

#u3438
{
	z-index: 51;
	height: 63px;
}

#u3438-bw
{
	z-index: 51;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u923
{
	z-index: 52;
	height: 63px;
}

#u923-bw
{
	z-index: 52;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u924
{
	z-index: 53;
	height: 4px;
}

#u924-bw
{
	z-index: 53;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 62px;
}

#u3816
{
	z-index: 66;
	width: 23px;
	position: fixed;
	top: 31px;
	left: 46px;
}

#u3816:hover
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3816:active
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3820
{
	z-index: 68;
	width: 23px;
	position: fixed;
	top: 31px;
	left: 72px;
}

#u3816.MuseLinkActive,#u3820:hover
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3818
{
	z-index: 70;
	width: 23px;
	position: fixed;
	top: 31px;
	left: 20px;
}

#u3820.MuseLinkActive,#u3818:hover
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#u3818.MuseLinkActive
{
	width: 23px;
	min-height: 0px;
	margin: 0px;
}

#ppu3747-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 238px;
	margin-left: -100px;
}

#pu3747-4
{
	width: 0.01px;
	margin-left: 120px;
}

#u3747-4
{
	z-index: 3;
	width: 119px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u3761
{
	z-index: 7;
	width: 87px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

.ie #u3761
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3761:hover
{
	width: 87px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u3761:hover
{
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
}

#u1724-4
{
	z-index: 43;
	width: 274px;
	min-height: 50px;
	background-color: transparent;
	color: #727272;
	line-height: 22px;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 119px;
}

#pu1725-4
{
	width: 0.01px;
	margin-left: 118px;
	margin-top: 17px;
}

#u1725-4
{
	z-index: 47;
	width: 461px;
	min-height: 111px;
	background-color: transparent;
	color: #727272;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3729-4
{
	z-index: 72;
	width: 146px;
	min-height: 25px;
	background-color: transparent;
	color: #727272;
	text-align: left;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#u3729-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 146px;
	margin: 57px -10000px 0px 0px;
}

#u3730-4
{
	z-index: 76;
	width: 137px;
	min-height: 25px;
	background-color: transparent;
	color: #727272;
	text-align: left;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
}

#u3730-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 137px;
	margin: 85px -10000px 0px 0px;
}

#u3731-4
{
	z-index: 80;
	width: 156px;
	min-height: 25px;
	background-color: transparent;
	color: #727272;
	text-align: left;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 118px;
	margin-top: 2px;
	position: relative;
}

#u3731-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 156px;
	margin: 2px 0px 0px 118px;
}

#slideshowu1688
{
	z-index: 8;
	width: 0.01px;
	height: 709px;
	margin-top: 91px;
	position: relative;
}

#u1707
{
	position: absolute;
	width: 1160px;
	height: 558px;
	background-color: transparent;
}

#u1707popup
{
	z-index: 9;
}

#u1708
{
	z-index: 10;
	width: 1160px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u1913
{
	z-index: 12;
	width: 1160px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u1873
{
	z-index: 14;
	width: 1160px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u1973
{
	z-index: 16;
	width: 1160px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u1953
{
	z-index: 18;
	width: 1160px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u1993
{
	z-index: 20;
	width: 1160px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
	margin-right: -10000px;
	position: relative;
}

#u1696
{
	position: absolute;
	width: 471px;
	background-color: transparent;
	padding-bottom: 91px;
	top: 569px;
	left: 90px;
}

#u1696popup
{
	z-index: 22;
}

#u1703
{
	z-index: 23;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 30px;
}

#u1919
{
	z-index: 25;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 100px;
}

#u1879
{
	z-index: 27;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 170px;
}

#u1979
{
	z-index: 29;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 240px;
}

#u1959
{
	z-index: 31;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 310px;
}

#u1959_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u1999
{
	z-index: 33;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 380px;
}

#u1703.SSSlideLinkSelected,#u1919.SSSlideLinkSelected,#u1879.SSSlideLinkSelected,#u1979.SSSlideLinkSelected,#u1959.SSSlideLinkSelected,#u1999.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u1720-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: 257px;
	left: 155px;
}

#u1720-4popup
{
	z-index: 35;
}

#u1689-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: 258px;
	left: 974px;
}

#u1689-4popup
{
	z-index: 39;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u618-4
{
	z-index: 54;
	width: 100px;
	min-height: 36px;
	position: fixed;
	top: 30px;
	left: 648px;
}

#u618-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u618-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u619-4
{
	z-index: 58;
	width: 100px;
	min-height: 36px;
	position: fixed;
	top: 30px;
	left: 748px;
}

#u618-4.MuseLinkActive,#u619-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u620-4
{
	z-index: 62;
	width: 100px;
	min-height: 36px;
	position: fixed;
	top: 30px;
	left: 848px;
}

#u619-4.MuseLinkActive,#u620-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#u620-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 100px;
	margin: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}


